*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Crete Round', serif;
  font-size: 14px;
  scroll-behavior: smooth;
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.profile-picture {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  position: relative;
  background-image: linear-gradient(
    to right bottom,
    #c46660,
    #bc7e48,
    #a29848,
    #7aae66,
    #3dbf9b
  );
  padding: 1px;
}

.footer {
  background-color: #000;
  color: #fff;

  text-align: center;

  min-width: 98vw;
}
.footer-elements {
  font-weight: 700;
}
