.banner-container {
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #311930;
  justify-content: space-between;
  padding: 0 1.5rem;
  min-height: 4rem;
  color: black;
  z-index: 9999;
}

.headerLogo {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0.5rem;
  padding: 0;
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
}

.headerTitle {
  display: flex;
  flex-direction: row;
  color: #fff;
  text-shadow: #70051b 0.2rem 0.2rem 0.2rem;
  font-family: 'Courgette', cursive;
  align-items: center;
}

.bannerNavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
}
.navigationItem {
  display: flex;
  font-weight: 700;
  font-size: 1.2rem;
  align-items: center;
  padding-left: 1rem;
  color: #fff;
  text-decoration: none;

  height: 100%;
}

.logout {
  display: flex;
  font-weight: 700;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;

  color: #fff;
  text-decoration: none;
  position: relative;
}
