.host-container {
  border-color: red;
  display: flex;
  flex-direction: row;
}

.host-form-container {
  border-color: brown;
}

.host-form {
  border-color: blue;
}

.host-form-contents {
  border-color: green;
}

.host-form-title {
  border-color: yellow;
}

.host-form-description {
  border-color: orange;
}

.host-form-date {
  border-color: purple;
}

.host-form-time {
  border-color: pink;
}

.map-container {
  border-color: black;
}
