.map {
  display: flex;
  min-height: 85vh;
  border-radius: 0.5rem;
  min-width: 85vw;
  margin: 1rem;

  @media screen and (max-width: 768px) {
    min-height: 80vh;
    min-width: 97vw;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.search-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.popup-container {
  display: inline-block;
  margin: 0;
  padding: 0;

  .leaflet-popup-content-wrapper {
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 0;
    margin-bottom: 1px;

    .leaflet-popup-content {
      background-color: transparent;
      border-radius: 0.5rem;
      margin: 0;
      padding: 0;
    }
  }
  .leaflet-popup-tip {
    background: #15705d;
  }
}
.popup-content-container {
  background-color: white;
  border-radius: 0.5rem;
}
.popup-header {
  height: 8rem;
  width: 100%;
  object-fit: cover;

  margin-left: 2rem auto;
  border-radius: 0.5rem 0.5rem 0 0;
}
:root {
  --size: 0.1rem;
  --bgr-color: #e91e63;
  --ico-color: #4e0a21;
}

.event-delete-button {
  width: calc(var(--size) * 20);
  height: calc(var(--size) * 20);
  margin-top: -0.2rem;
  margin-right: 0.1rem;
  border: 0;
  border-radius: calc(var(--size) * 1);
  outline: none;

  background: var(--bgr-color);
  cursor: pointer;
  position: relative;

  &:before {
    background: linear-gradient(
        0deg,
        var(--ico-color) 0 calc(var(--size) * 1),
        #fff0 0 calc(100% - calc(var(--size) * 1)),
        var(--ico-color) 0 100%
      ),
      linear-gradient(
        90deg,
        var(--ico-color) 0 calc(var(--size) * 1),
        #fff0 0 calc(100% - calc(var(--size) * 6)),
        var(--ico-color) 0 100%
      ),
      linear-gradient(
        45deg,
        var(--ico-color) 0 calc(var(--size) * 2.35),
        #fff0 0 100%
      );
    width: calc(var(--size) * 12);
    height: calc(var(--size) * 6);
    position: absolute;
    content: '';
    border-radius: calc(var(--size) * 1);
    transform: rotate(-45deg);
    top: calc(var(--size) * 6.5);
    left: calc(var(--size) * 2);
    transition: all 0.5s ease 0s;
  }

  &:after {
    left: calc(var(--size) * 2);
    top: calc(var(--size) * 14.5);
    width: calc(var(--size) * 16);
    height: calc(var(--size) * 0.9);
    position: absolute;
    background: linear-gradient(
        90deg,
        var(--bgr-color) 0 45%,
        #fff0 0 50%,
        var(--ico-color) 0 100%
      ),
      repeating-linear-gradient(
        90deg,
        var(--bgr-color) 0 3%,
        var(--ico-color) 0 6%
      );
    background-position: 86% 0;
    background-size: 200%;
    transition: all 0.5s ease 0s;
    border-radius: 1px;
    content: '';
    border-top: calc(var(--size) * 1) solid var(--bgr-color);
    border-bottom: calc(var(--size) * 1) solid var(--bgr-color);

    font-family: Arial, Helvetica, serif;
    font-size: calc(var(--size) * 4);
    text-align: center;
    line-height: calc(var(--size) * 16);
    color: var(--bgr-color);
    text-shadow: -1px -1px 1px var(--ico-color), 1px 1px 1px var(--ico-color);
  }

  &:hover {
    --ico-color: #18222c;
    transition: all 0.5s ease 0s;
  }

  &:hover:before {
    left: calc(var(--size) * 4);
  }

  &:hover:after {
    background-position: 73% 0;
  }

  &:active {
    --ico-color: #fff;
    transition: all 0.5s ease 0s;
  }

  &:active:before {
    left: calc(var(--size) * 6);
  }

  &:active:after {
    background-position: 60% 0;

    color: #fff;
  }
}

.popup-creator-container {
  display: flex;
  text-decoration: none !important;
  color: #194b4f;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.popup-creator-picture {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top: 0;
  margin-top: 6rem;
  margin-left: 1rem;

  border-radius: 50%;
  overflow: hidden;
  width: 4rem;
  height: 4rem;

  border: 0.2rem solid #fff;
}

.popup-creator-name {
  font-size: 1rem;
  color: #194b4f;
  margin-left: 5rem;
}

.popup-info-container {
  margin: 1rem;
  margin-top: 0.5rem;
  min-width: 17rem;
  max-width: 17rem;
}

.popup-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;

  color: #194b4f;
}

.popup-date-time-container {
  display: flex;
  margin-left: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.popup-date {
  font-size: 1rem;
  color: #53855d;
  margin-left: 1rem;
}

.popup-time {
  font-size: 1rem;
  color: #53855d;
  margin-left: 1.5rem;
}

.popup-description-container {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
}

.popup-description {
  color: #194b4f;
  font-size: 1rem;
}

.popup-attending-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

.popup-button-container {
  display: flex;

  width: 100%;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  background-image: linear-gradient(
    to right top,
    #006c5d,
    #15705d,
    #23745d,
    #2e775c,
    #387b5c,
    #417e5c,
    #4a825d,
    #53855d,
    #5d885e,
    #678c5f,
    #718f61,
    #7a9263
  );
  border-radius: 0 0 0.5rem 0.5rem;
  justify-content: space-between;
}

.popup-attending-pictures {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: scale(-1, 1);
}

.popup-attending-picture {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 50%;
  overflow: hidden;
  width: 3rem;
  height: 3rem;

  &:not(:first-child) {
    margin-left: -2rem;
  }

  img {
    display: block;
    border: 0.1rem solid #fff;
    transform: scale(-1, 1);
    width: 2rem;
    height: 2rem;
  }
}

.popup-join-button {
  justify-content: center;
  width: 3.5rem;
  height: 1.5rem;

  color: rgb(40, 40, 40);
  border-radius: 1rem;
  margin-right: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px #829b6b, 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background: #a2c185;
  border: none;
  &:before {
    height: 0%;
    width: 2px;
  }
  &:active {
    box-shadow: 4px 4px 6px 0 rgba(71, 71, 71, 0.5),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
  }
}
