.profile-page-container-container {
  background-color: #e1e1e1;
}

.profile-page-container {
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: #fff;
  min-height: 90vh;
}

.header-image-upload > input {
  display: none;
}

.header-image-upload img {
  width: 2.5rem;
  display: flex;
  position: absolute;
  right: 0;

  margin-right: 14vw;
  margin-top: -3rem;
  opacity: 60%;
  cursor: pointer;
}

.header-file-button {
  position: absolute;
  right: 0;
  margin-right: 13vw;
}

.profile-image-upload > input {
  display: none;
}

.profile-image-upload img {
  width: 2.5rem;
  display: flex;
  position: absolute;
  margin-left: 13em;
  margin-top: -4rem;
  opacity: 60%;
  cursor: pointer;
}

.profile-image-file-button {
  position: absolute;
  left: 0;
  margin-left: 13rem;
}

.owner-profile-header {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 15rem;
  object-fit: cover;

  margin-top: 0;
  margin-bottom: 0;
}

.owner-profile-picture {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  border: 0.2rem solid #fff;
  background-color: #fff;
  z-index: 1;
  margin-top: -5rem;
  margin-left: 3rem;
  img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    border: 0.2rem solid #fff;
    z-index: 1;
  }
}

.profile-info-container {
  margin: 1rem;
  margin-top: 0.5rem;
}

.profile-events-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
}

.profile-single-event {
  width: 20rem;
  margin: 1rem;

  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.profile-event-header {
  height: 9rem;
  width: 100%;
  overflow: hidden;
  margin-left: 2rem auto;
  border-radius: 0.5rem 0.5rem 0 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profile-event-host-picture-name-container {
  display: flex;

  color: #194b4f;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.profile-event-host-picture {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;

  margin-top: -2.3rem;

  margin-left: 1rem;
  img {
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    border: 0.2rem solid #fff;
    z-index: 1;
  }
}

.profile-event-host-name {
  margin-left: 0;
}

.profile-event-info-container {
  margin: 1rem;
  margin-top: 0.5rem;
}

.profile-event-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;

  color: #194b4f;
}

.profile-event-date-time-container {
  display: flex;
  margin-left: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.profile-event-date {
  font-size: 1rem;
  color: #53855d;
  margin-left: 1rem;
}

.profile-event-time {
  font-size: 1rem;
  color: #53855d;
  margin-left: 1.5rem;
}
